<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Carrito'}) %>
<body>
	<!-- Navbar Gral -->
  <%- include('partials/navbarGral') %>
  <!-- /Navbar Gral -->
	
	<div class="title-pages">
		<h4><a href="/">Inicio</a> / <a href="/carrito">Carrito</a></h4>
	</div>
	<br>
	<% if(typeof productosCart !== 'undefined') { %>
		<% if(productosCart.length > 0) { %>
		<% let subtotal = 0 %>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 col-sm-12 cart-detail">
									
				<table class="table table-responsive-sm table-borderless table-hover table-sm">
					<thead>
						<tr>
							<th class="rest"></th>
							<th class="prod">Productos</th>
							<th class="rest">Precio</th>
							<th class="rest">Cantidad</th>
							<th class="rest">Subtotal</th>
							<th class="rest">Eliminar</th>
						</tr>
					</thead>					
					<tbody>
						<% for(let i = 0; i < productosCart.length; i++) { %>
							<% subtotal = subtotal + (productosCart[i].price * productosCart[i].cantidad) %>
						<tr>
							<td class="rest">
								<img src="/images/products/<%= productosCart[i].image %>" alt="">
							</td>
							<td class="prod">
								<a href="#"><%= productosCart[i].name %></a>
							</td>
							<td class="rest">$ <%= productosCart[i].price %>
							</td>
							<td class="rest">
								<form class="agregaOk" action="/cart/update" method="POST">
									<input type="hidden" value="<%= productosCart[i].id %>" name="id_producto">
									<input type="number" value="<%= productosCart[i].cantidad %>" name="cantidad" min="1">
									<button type="submit" class="btn btn-success" style="padding: 3px 6px;"><i class="far fa-check-circle"></i></button>
								</form>	
								
							</td>
							<td class="rest">$ <%= (productosCart[i].price * productosCart[i].cantidad) %></td>
							
							<td class="rest">
								<form class="borrar" action="/cart/delete" method="POST">
									<input type="hidden" value="<%= productosCart[i].id %>" name="id_producto">
									<button type="submit" class="btn btn-danger" style="padding: 3px 6px;"><i class="fas fa-trash"></i></button>
								</form>
							</td>
							
							
						</tr>
						<% } %>
						
					</tbody>					
				</table>
				
				
				<div class="botonesCarrito">
				<!--<a href="/" class="botonCarrito">Seguir Comprando</a>-->
				<!--<a href="#" class="botonCarrito">Limpiar Carrito</a> -->
					<button type="button" class="btn btn-success" style="margin-right: 5px;" role="link" onclick="window.location='http://localhost:3000/'">Seguir Comprando</button>
					<form action="/cart/clear" method="POST" class="reClear">
					<button type="submit" class="btn btn-success">Limpiar Carrito</button>
					</form>
				</div>
			
				<div class="sale-details">
					
					<div class="container">
						<div class="row">
							<div class="col-6 col-md-6 col-sm-6">
								<div class="formDiscount">
									<form action="" class="descuento">
										
										<div>
											<label for="">Cupon de Descuento</label>
											<input type="text" name="cupon" id="cupon">
										</div>
										<div>
											<button type="submit" class="btn btn-success">Aplicar</button>
										</div>
										
									</form>
								</div>
							</div>

							<div class="col-6 col-md-6 col-sm-6">
							
								<div class="second-form">
									<form action="/cart/venta" method="POST" class="end">
										<div>
										<div>
											<label for="subtotal">Subtotal</label>
											<input type="text" name="subtotal" id="subtotal" value='$ <%= subtotal %>' disabled>
										</div>
										<div>
											<label for="descuento">Descuento %</label>
											<input type="text" name="descuento" id="descuento" value='0 %' disabled>
										</div>							
										<div>
											<label for="total">Total</label>
											<input type="hidden" name="totalOk" id="totalOk" value=<%= subtotal %>>
											<input type="text" name="total" id="total" value='$ <%= subtotal %>' disabled>
										</div>
										<button type="submit" class="btn btn-success">Finalizar Compra</button>
										</div>
									</form>	
								</div>

							</div>
						</div>
					</div>
					

					
				</div>		

			</div>
			
			
			
					
			
			
		</div>
	</div>
	<% } else { %>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-10 col-sm-12">
					<h2>No tenés artículos en tu carrito <i class="far fa-frown"></i></h2>
				</div>
			</div>
		</div>
		<br><br><br><br><br><br><br><br><br><br>
	<% } %>
	<% } else { %>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-10 col-sm-12">
					<h2>Todavía no tenés artículos en tu carrito <i class="far fa-frown"></i></h2>
				</div>
			</div>
		</div>
		<br><br><br><br><br><br><br><br><br><br>
	<% } %>
	
	<br><br>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>