<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('./partials/head.ejs', {title: 'La Wineria | Inicia sesión'}) %>
  <body>
    <!-- Navbar Gral -->
    <%- include('partials/navbarGral') %>
    <!-- /Navbar Gral -->

    <div class="container">
      <div class="inicio-sesion">
        <h2>Iniciar sesión</h2>
        <form action="" method="post" class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
              type="email"
              value="<%= (typeof old != 'undefined' && errors.email) ? old.email : '' %>"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <small class="text-danger validate-email"
              ><%= (typeof errors != 'undefined' && errors.email) ?
              errors.email.msg : '' %></small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control"
            id="exampleInputPassword1" ">
            <small class="text-danger validate-password"
              ><%= (typeof errors != 'undefined' && errors.password) ?
              errors.password.msg : '' %></small
            >
          </div>
          <div class="form-group form-check">
            <input
              name="remember"
              type="checkbox"
              class="form-check-input"
              id="remember"
            />
            <label class="form-check-label" for="remember">Recordame</label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btnLogin">
              Acceder
            </button>
          </div>
        </form>
      </div>
    </div>

    <%- include('./partials/footer') %>

    <script src="/js/validations-front/login.js" type="text/javascript"></script>
  </body>
</html>
