<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container">
		<div class="row contProdDetalle">
			<div class="col-12 col-md-10 col-lg-10">

    <div class="container producto-wrapper">
		<div class="row">
			<div class="col-12">
				<h4 class="titDetalleProd"><a href="/">Inicio</a> / <a href="/">Categoría</a> / <%= productos[0].name %></h4>
			</div>
			<div class="producto-detalle">
				<div class="row">
				<div class="col-12 col-md-7 col-lg-7">
					<img src="/images/products/<%= productos[0].image %>" alt="">
					<span>Descripción del producto</span>
					<p class="descripcionProducto" ><%= productos[0].description %></p>
				</div>
						
				<div class="col-12 col-md-5 col-lg-5">
					<h3><%= productos[0].name %></h3>
					<h3>$ <%= productos[0].price %></h3>
					<form action="">
						<label for="cantidad">Cantidad</label>
						<input type="number" value="1">
						<button type="submit" class="btn btn-primary btn-lg">Agregar al carrito</button>
					</form>
					<br>
					<span>Fecha Producto</span>
					<h5>Fecha producto</h5>
					<span>Bodega</span>
					<h5>Bodega</h5>
					<span>Tipo/Categoria</span>
					<h5>Tipo/Categoria</h5>
					<span>Región</span>
					<h5>Región</h5>
					<span>Graduación Alcoholica</span>
					<h5>Graduación Alcoholica</h5>
					<br>
					
				</div>
				
				</div>
			</div>
		</div>
    </div>

	<div class="container">
		<h4>Productos similares</h4>
		<div class="row">
			<div class="col-12 contProdSimilar">
				<img class="prodSimilar" src="/images/products/prueba1.jpg" alt="">
				<img class="prodSimilar" src="/images/products/prueba2.jpg" alt="">
				<img class="prodSimilar" src="/images/products/prueba3.jpg" alt="">
			</div>
		</div>

	</div>
</div>
</div>
</div>
    
    <br><br>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>