<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Admin | Editar producto'}) %>
<body>
  <!-- Header -->
  <%- include('partials/headerNavbar') %>
  <!-- /Header -->
  
  <h4 class="titCargaProd">Estás editando el producto de nombre "<%= elProducto.name %>"" y id "<%= elProducto.id %>"" </h4>
  
  <div class="contenedorCarga">
    <form method="POST" action="/admin/producto/edit/<%= elProducto.id %>?_method=put">
      <div class="cargaIzq">
        <section class="cargaImgProd">
          <img src="" alt="" />
        </section>
        <input
        type="file"
        class="form-control-file"
        id="image"
        name="image"
        file="<%= elProducto.image %>"
        />
      </div>
      
      <div class="cargaDer">
        <div class="formCarga required">
          <label for="nombreProducto">Nombre Producto</label>
          <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          aria-describedby="name"
          placeholder="Nombre Producto"
          required="required"
          value="<%= elProducto.name %>"
          />
        </div>
        
        <div class="formCarga required">
          <label for="anioProducto">Año Producto</label>
          <input
          type="text"
          name="year"
          class="form-control"
          id="year"
          aria-describedby="year"
          placeholder="Año Producto"
          required="required"
          value="<%= elProducto.year %>"
          />
        </div>
        <div class="formCarga required">
          <label for="bodegaProducto">Bodega</label>
          <input
          type="text"
          name="bodega"
          class="form-control"
          id="bodega"
          aria-describedby="bodega"
          placeholder="Bodega"
          required="required"
          value="<%= elProducto.bodega %>"
          />
        </div>






        <div class="formCarga required">
          <label for="tipoProducto">Tipo Producto</label>
          <select class="form-control" name="type" id="type">
            <option value="Cerveza"  <%= elProducto.types.name == 'Cerveza' ? 'selected' : ''%>          >Cerveza</option>
            <option value="Vino"     <%= elProducto.types.name == 'Vino' ? 'selected' : ''%>       >Vino</option>
            <option value="Champagna" <%= elProducto.types.name == 'Champagna' ? 'selected' : ''%>           >Espumante</option>
            <option value="Whisky"    <%= elProducto.types.name == 'Whisky' ? 'selected' : ''%>        >Whisky</option>
          </select>
        </div>

        <div class="formCarga required">
          <label for="regionProducto">Región</label>
          <input
          type="text"
          name="region"
          class="form-control"
          id="region"
          aria-describedby="region"
          placeholder="Región"
          required="required"
          value="<%= elProducto.regions.name %>"
          />
        </div>
        <div class="formCarga required">
          <label for="graduacionProducto">Graduación alcoholica</label>
          <input
          type="text"
          min="1"
          name="alcohol"
          class="form-control"
          id="alcohol"
          aria-describedby="alcohol"
          placeholder="Graduación alcoholica"
          required="required"
          value="<%= elProducto.alcohol %>"
          />
        </div>
        <div class="formCarga required">
          <label for="precioProducto">Precio</label>
          <input
          type="number"
          min="1"
          name="price"
          class="form-control"
          id="price"
          aria-describedby="price"
          placeholder="Precio"
          required="required"
          value="<%= elProducto.price %>"
          />
        </div>
        <div class="formCarga required">
          <label for="descuentoProducto">Descuento</label>
          <input
          type="number"
          name="discount"
          class="form-control"
          id="discount"
          aria-describedby="discount"
          placeholder="Descuento"
          required="required"
          value="<%= elProducto.discount %>"
          />
        </div>
        <div class="formCarga required">
          <label for="stockProducto">Stock</label>
          <input
          type="text"
          name="stock"
          class="form-control"
          id="stock"
          aria-describedby="stock"
          placeholder="Stock"
          required="required"
          value="<%= elProducto.stock %>"
          />
        </div>
        <div class="formCarga required">
          <label for="descripcionProducto">Descripción</label>
          <input
          type="text"
          name="description"
          class="form-control"
          id="description"
          aria-describedby="description"
          placeholder="Descripción"
          required="required"
          value="<%= elProducto.description %>"
          />
        </div>
        <br/>
          <button type="submit" class="btn btn-success">Guardar Cambios</button>
      </div>
    </form>    
  </div>
  <br />
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>
</html>