<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Admin | Editar producto'}) %>
<body>
  <!-- Navbar Gral -->
  <%- include('partials/navbarGral') %>
  <!-- /Navbar Gral -->
  
  <h4 class="titCargaProd">Estás editando el producto <%= elProducto.name %> con id <%= elProducto.id %></h4>
  
  <div class="contenedorCarga">
    <form class="form-edit" method="POST" action="/admin/producto/edit/<%= elProducto.id %>?_method=put" enctype="multipart/form-data">
      <div class="cargaIzq">
        <section class="cargaImgProd" style="background: url('/images/products/<%= elProducto.image %>') center center no-repeat; background-size: contain; background-color: white;">
        </section>
        <span>Imagen Actual <%= elProducto.image %></span>
        <input
        type="file"
        class="form-control-file"
        id="image"
        name="image"
        file="<%= elProducto.image %>"
        />
      </div>
      
      <div class="cargaDer">
        <div class="formCarga required">
          <label for="nombreProducto">Nombre Producto</label>
          <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          aria-describedby="name"
          placeholder="Nombre Producto"
          required="required"
          value="<%= elProducto.name %>"
          />
          <small class="text-danger validation-name"></small>
        </div>
        
        <div class="formCarga required">
          <label for="anioProducto">Año Producto</label>
          <input
          type="text"
          name="year"
          class="form-control"
          id="year"
          aria-describedby="year"
          placeholder="Año Producto"
          required="required"
          value="<%= elProducto.year %>"
          />
          <small class="text-danger validation-year"></small>
        </div>
        <div class="formCarga required">
          <label for="bodegaProducto">Bodega</label>
          <input
          type="text"
          name="bodega"
          class="form-control"
          id="bodega"
          aria-describedby="bodega"
          placeholder="Bodega"
          required="required"
          value="<%= elProducto.bodega %>"
          />
          <small class="text-danger validation-bodega"></small>
        </div>






        <div class="formCarga required">
          <label for="tipoProducto">Tipo Producto</label>
          <select class="form-control" name="type" id="type">
            <option value="3"  <%= elProducto.types.name == 'Cerveza' ? 'selected' : ''%>          >Cerveza</option>
            <option value="1"     <%= elProducto.types.name == 'Vino' ? 'selected' : ''%>       >Vino</option>
            <option value="4" <%= elProducto.types.name == 'Champagna' ? 'selected' : ''%>           >Espumante</option>
            <option value="2"    <%= elProducto.types.name == 'Whisky' ? 'selected' : ''%>        >Whisky</option>
          </select>
        </div>

        <div class="formCarga required">
          <label for="regionProducto">Región</label>
          <select class="form-control" name="region" id="region" type="number">
            <option value="1" <%= elProducto.regions.name == 'Mendoza' ? 'selected' : ''%>>Mendoza</option>
            <option value="2" <%= elProducto.regions.name == 'San Juan' ? 'selected' : ''%>>San Juan</option>
            <option value="3" <%= elProducto.regions.name == 'Cordoba' ? 'selected' : ''%>>Cordoba</option>
            <option value="4" <%= elProducto.regions.name == 'Argentina' ? 'selected' : ''%>>Argentina</option>
            <option value="5" <%= elProducto.regions.name == 'Chile' ? 'selected' : ''%>>Chile</option>
          </select>

       
        </div>
        <div class="formCarga required">
          <label for="graduacionProducto">Graduación alcoholica</label>
          <input
          type="text"
          min="1"
          name="alcohol"
          class="form-control"
          id="alcohol"
          aria-describedby="alcohol"
          placeholder="Graduación alcoholica"
          required="required"
          value="<%= elProducto.alcohol %>"
          />
        </div>
        <div class="formCarga required">
          <label for="precioProducto">Precio</label>
          <input
          type="number"
          min="1"
          name="price"
          class="form-control"
          id="price"
          aria-describedby="price"
          placeholder="Precio"
          required="required"
          value="<%= elProducto.price %>"
          />
          <small class="text-danger validation-price"></small>
        </div>
        <div class="formCarga required">
          <label for="descuentoProducto">Descuento</label>
          <input
          type="number"
          name="discount"
          class="form-control"
          id="discount"
          aria-describedby="discount"
          placeholder="Descuento"
          required="required"
          value="<%= elProducto.discount %>"
          />
        </div>
        <div class="formCarga required">
          <label for="stockProducto">Stock</label>
          <input
          type="text"
          name="stock"
          class="form-control"
          id="stock"
          aria-describedby="stock"
          placeholder="Stock"
          required="required"
          value="<%= elProducto.stock %>"
          />
        </div>
        <div class="formCarga required">
          <label for="descripcionProducto">Descripción</label>
          <input
          type="text"
          name="description"
          class="form-control"
          id="description"
          aria-describedby="description"
          placeholder="Descripción"
          required="required"
          value="<%= elProducto.description %>"
          />
          <small class="text-danger validation-description"></small>
        </div>
        <br/>
          <button type="submit" class="btn btn-success">Guardar Cambios</button>
      </div>
    </form>    
  </div>
  <br />
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
  <script src="/js/validations-front/producto-edit.js" type="text/javascript"></script>
</body>
</html>